.car-details {
    padding: 20px;
}
  
.car-details img {
    width: 100%;
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
    display: flex;
}

.technicalData {
    width: 90%;
    margin: 0 auto;
}

.technicalData h1 {
    text-align: center;
    font-size: 300%;
}

.data {
    background-color: #ff6b359a;
    padding-bottom: 5px;
    max-width: 1000px;
    margin: 0 auto;
}

.data h2 {
    padding: 15px;
    background-color: #FF6B35;
    font-size: 200%;
}

.data p {
    margin-left: 5px;
    font-size: 150%;
}

.rent {
    position: absolute;
    width: 30%;
    background-color: #FF6B35;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    border: 2px solid #FF6B35;
    transition: 0.2s;
    text-decoration: none;
    margin-top: 20px;
    transform: translate(-50%, 0%);
    left: 50%;
}

.rent:hover {
    background-color: transparent;
    color: #FF6B35;
    transition: 0.2s;
}

@media screen and (max-width: 501px) {
    .rent {
        width: 50%;
    }
}